<li class = "d-flex justify-content-between px-5 py-3 border mb-3 rounded">
    <h3 class = "item-text align-self-center text-secondary"><%= item.text %></h3>

    <div class="btn-wrapper align-self-center">
        <a data-id="<%= item._id%>" class="btn btn-outline-success">Edit</a>
        <a class="btn btn-outline-danger">Delete</a>
    </div> 
</li>