<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/styles.css">
    
    <title>To Do App</title>
</head>
<body>

    <div class="todo-app py-5">

        <div class="jumbotron">
            <form action = "submit" method= "POST">
                <div class="d-flex justify-content-center">
                    <input autofocus autocomplete="off" class="form-control form-control-lg mr-3" type="text" style="flex: 1;" name = "data">
                    <button class="btn btn-primary btn-lg">Add</button>
                </div>
            </form>
        </div>  
    
        <ul class = "list-unstyled">
            <li class = "d-flex justify-content-around py-3 border mb-3 rounded">
                <h3 class = "item-text align-self-center text-secondary">Eggs</h3>

                <div class="btn-wrapper align-self-center">
                    <a href="#" class="btn btn-outline-success">Edit</a>
                    <a href="#" class="btn btn-outline-danger">Delete</a>
                </div> 
            </li>
            <li class = "d-flex justify-content-around py-3 border mb-3 rounded">
                <h3 class = "item-text align-self-center text-secondary">Eggs</h3>

                <div class="btn-wrapper align-self-center">
                    <a href="#" class="btn btn-outline-success">Edit</a>
                    <a href="#" class="btn btn-outline-danger">Delete</a>
                </div> 
            </li>
        </ul>
       
    </div>

    <!-- Jquery -->
    <script src="./js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>