<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/styles.css">
    
    <title>To Do App</title>
</head>
<body>

    <div class="todo-app py-5">
        <h1 class = "text-center display-3 text-capitalized mb-4 p-3 bg-secondary rounded text-white">Todo Application</h1>
        <div class="jumbotron">
            <form action = "create-item" method= "POST">
                <div class="d-flex justify-content-center">
                    <input autofocus autocomplete="off" class="form-control form-control-lg mr-3" type="text" style="flex: 1;" name = "data">
                    <button class="btn btn-primary btn-lg">Add</button>
                </div>
            </form>
        </div>  
    
        <ul class = "list-unstyled">
            <% data.map((item) =>{  %>
                <%- include('./partials/listItem.ejs', {item}) %> 
            <% })  %> 
        </ul>
       
    </div>

    <!-- Jquery -->
    <script src="./js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- Axios Script For sending requests from client side to server side -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Browser Script -->
    <script src="./js/browser.js"></script>
</body>
</html>