*{
    box-sizing: border-box;
}

html{
    font-size: large;
}

body{
}

.todo-app{
    margin: 0 auto;
    max-width: 40rem;
}

.todo-form{
    min-width: 23rem;
}

.wrapper{
    background-color: rgb(153, 149, 149);
}

.item-text{
    font-size: 2rem;
}